.courses-section {
    background-color: #F1F3FF;
}

.courses-heading-title {
  color: #141b2b;
  font-family: "Plus Jakarta Sans";
  font-weight: 800;
}

.pagination-link {
    background-color: #c7c4d8;
    width: 8px;
    height: 8px;
}

.pagination-link:hover {
    border: 1px solid #3525CD;
}

.pagination-link.active {
    background-color: #3525CD;
    width: 32px;
}

.course-category {
    color: #712AE2;
    font-family: "Inter";
    font-weight: 600;
    letter-spacing: 1px;
}

.course-title {
    color: #141B2B;
    font-family: "Plus Jakarta Sans";
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
}

.course-description {
    color: #464555;
    font-family: "Inter";
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.price {
    color: #141B2B;
    font-family: "Plus Jakarta Sans";
    font-weight: 800;
    font-size: 18px;
    line-height: 28px;
}

.details-btn {
    background-color: #E1E8FD;
    color: #3525CD;
    font-family: "Plus Jakarta Sans";
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
}
