.category-heading-title p {
  color: #712ae2;
  font-family: "Inter";
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 1.2px;
  line-height: 16px;
  margin-bottom: 8px;
}

.category-heading-title h2 {
  color: #141b2b;
  font-family: "Plus Jakarta Sans";
  font-weight: 800;
  font-size: 36px;
  line-height: 40px;
}

.view-all-categories {
  color: #3525cd;
  font-family: "Inter";
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

.category-title {
  color: #141b2b;
  font-family: "Plus Jakarta Sans";
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
}

.category-description {
  color: #464555;
  font-family: "Inter";
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.category-num-courses {
  color: #3525CD;
  font-family: "Inter";
  font-weight: 700;
  font-size: 10px;
  line-height: 15px;
}
